{% extends 'management_system/base.html' %}

{% block content %}
<p style="font-size:69px;font-family: 'Piedra', cursive;"> <i> Visitor Info: </i></p>

<p style="font-size:28px">
<b>Name</b>: {{ person.name }}<br />
<b>Mobile</b> : {{ person.mobile_no }}<br />
<b>Flat</b>: {{ person.flat_vis }}<br />
<b>Reason for going out</b>: {{ person.reason }}<br />
{% if person.family %}
<b>Came with family</b><br />
{% endif %}
<b>Time of arrival</b>: {{ person.vis_time }}<br />
<b>Time of leave</b>: {{ person.vis_returned_time }}<br />
</p><br />
<a href="{% url 'home' %}" role="button" class="btn btn-success"> Return to home page. </a>
{% endblock %}
