{% extends 'management_system/base.html' %}

{% block content %}
<p style="font-size:50px"><b> Add a Resident: </b></p>
{% if error %}
    <div class="alert alert-danger" role="alert">
        <b>{{ error }}</b>
    </div>
{% endif %}
<form method="POST">
  {% csrf_token %}
  <div class="row justify-content-center mt-5">
        <div class="col-md-5">
          <div class="form-group">
              <label for="name" style="font-size:20px">Name</label>
              <input type="text" name="name" class="form-control" id="name" required>
          </div>
          <div class="form-group">
                <label for="mobile_no">Mobile Number: </label>
                <input name="mobile_no" class="form-control" id="mobile_no" required>
          </div>
          <div class="form-group">
                <label for="flat">Flat: </label>
                <input name="flat" class="form-control" id="flat" required>
          </div>
          <div class="form-group">
                <label for="vehicle_no">Vehicle No. : </label>
                <input name="vehicle_no" class="form-control" id="vehicle_no" >
          </div>
          <div class="form-group">
                <label for="reason">Reason: </label>
                <textarea name="reason" class="form-control" id="reason" required></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </div>
</form>
{% endblock %}
