{% extends 'management_system/base.html' %}

{% block content %}
<h1> Residents Out: </h1>
<div class="row justify-content-center mt-5; text-center">
    <div class="col-md-10">
        <div class="list-group">
            {% for person in people %}
                <a href="{% url 'outgoing_info' person.id %}" class="list-group-item list-group-item-action list-group-item-info" style="font-family: 'Permanent Marker', cursive; font-size:30px;"><b>{{ person.name }}</b></a> <br />
            {% endfor %}
        </div>
    </div>
</div>
<div class="row justify-content-center mt-5">
      <div class="col-md-50">
          {% if people.count %}
               <h2 class="alert alert-danger" role="alert" >{{ people.count }} resident{{ people.count|pluralize }} out</h2>
          {% else %}
                         <h1 class="alert alert-success" role="alert"><i>No residents out!</i></h1>
          {% endif %}
      </div>
  </div>
{% endblock %}
