{% extends 'management_system/base.html' %}

{% block content %}
<p style="font-size:69px;font-family: 'Piedra', cursive;"> <i>Resident Info: </i></p>

<form method="POST" action="{% url 'visitorreturn' person.id %}">
  {% csrf_token %}
  <p style="font-size:28px">
  <b>Name</b>: {{ person.name }}<br />
  <b>Mobile</b> : {{ person.mobile_no }}<br />
  <b>Flat</b>: {{ person.flat }}<br />
  <b>Reason for going out</b>: {{ person.reason }}<br />
  {% if person.vehicle_no %}
  <b>Vehicle No. </b>: {{ person.vehicle_no }}
  {% endif %}
  <b>Time of leaving</b>: {{ person.reg }}<br />
  </p><br />
  <button type="submit" class="btn btn-outline-primary"> Corona Screening Test temperature:- Low (Returned) </button>
  <button type="button" class="btn btn-danger" onclick="$('#positive').click()">Corona Screening Test temperature:- High (Isolation)</button>
</form>
<form style='display: none;' method="POST" action="{% url 'positive' person.id %}">
        {% csrf_token %}
        <button id="positive" type="submit">Delete</button>
</form>
{% endblock %}
