{% extends 'management_system/base.html' %}

{% block content %}
<p style="font-size:69px;font-family: 'Piedra', cursive;"> <i> Resident Info: </i></p>

<p style="font-size:28px">
<b>Name</b>: {{ person.name }}<br />
<b>Mobile</b> : {{ person.mobile_no }}<br />
<b>Flat</b>: {{ person.flat }}<br />
<b>Reason for going out</b>: {{ person.reason }}<br />
{% if person.vehicle_no %}
<b>Vehicle No. </b>: {{ person.vehicle_no }}
{% endif %}
<b>Time of leaving</b>: {{ person.reg }}<br />
<b>Time of arrival</b>: {{ person.cameback }}<br />
</p><br />
<a href="{% url 'home' %}" role="button" class="btn btn-success"> Return to home page. </a>
{% endblock %}
